.vagas {
    margin: 5em 4em;
}
.vagas__container--cabecalho{
    text-align: center;
    margin: 0 3em 2em 3em;
}

.vagas__container--titulo {
    display: inline-block;
    color: var(--vermelho);
    font-size: 14px;
    font-weight: 500;
    padding: 1em;
    background-color: var(--cinza-background);
    border-radius: 16px;
    margin-bottom: 1em;
}

.vagas__container--subtitulo {
    color: var(--preto);
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 1em;
}

.vagas__container--texto {
    color: var(--cinza-claro);
    font-size: 20px;
}
.vagas__container--img{
    display: block;
    width: 100%;
    margin: 3em 0;
}

.vagas__container--ofertas{
    margin: 4em 12em
}

.area__vagas {
    color: var(--preto);
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 4em;
}

.vaga{
    margin-left: 1.5em;    
    margin-bottom: 3em;
}
.titulo__vaga{
    display: block;
    font-size: 18px;
    font-weight: 500;
    color: var(--preto);
    margin-bottom: 2em;
}

.informacoes__vaga{
    margin-bottom: 4em;
}

.informacoes__vaga span{
    display: inline-block;
    font-weight: 500;
    color: var(--cinza-claro);
    margin-right: 1.5em;
    margin-bottom: 1em;
}


